In [157]:
import pandas as pd
import numpy as np

In [158]:
direct_link = 'https://assets.datacamp.com/production/repositories/655/datasets/fee715f8cf2e7aad9308462fea5a26b791eb96c4/fish.csv'

In [159]:
fish = pd.read_csv(direct_link, header = None)
fish.head()

       0      1     2     3     4     5     6
0  Bream  242.0  23.2  25.4  30.0  38.4  13.4
1  Bream  290.0  24.0  26.3  31.2  40.0  13.8
2  Bream  340.0  23.9  26.5  31.1  39.8  15.1
3  Bream  363.0  26.3  29.0  33.5  38.0  13.3
4  Bream  430.0  26.5  29.0  34.0  36.6  15.1

In [160]:
samples = fish.iloc[:, 1:]
samples.head()

       1     2     3     4     5     6
0  242.0  23.2  25.4  30.0  38.4  13.4
1  290.0  24.0  26.3  31.2  40.0  13.8
2  340.0  23.9  26.5  31.1  39.8  15.1
3  363.0  26.3  29.0  33.5  38.0  13.3
4  430.0  26.5  29.0  34.0  36.6  15.1

In [161]:
species = fish.iloc[:,0]
species.head()

0    Bream
1    Bream
2    Bream
3    Bream
4    Bream
Name: 0, dtype: object

In [162]:
samples = samples.values #converting to an array

In [163]:
species.tolist()

['Bream',
 'Bream',
 'Bream',
 'Bream',
 'Bream',
 'Bream',
 'Bream',
 'Bream',
 'Bream',
 'Bream',
 'Bream',
 'Bream',
 'Bream',
 'Bream',
 'Bream',
 'Bream',
 'Bream',
 'Bream',
 'Bream',
 'Bream',
 'Bream',
 'Bream',
 'Bream',
 'Bream',
 'Bream',
 'Bream',
 'Bream',
 'Bream',
 'Bream',
 'Bream',
 'Bream',
 'Bream',
 'Bream',
 'Bream',
 'Roach',
 'Roach',
 'Roach',
 'Roach',
 'Roach',
 'Roach',
 'Roach',
 'Roach',
 'Roach',
 'Roach',
 'Roach',
 'Roach',
 'Roach',
 'Roach',
 'Roach',
 'Roach',
 'Roach',
 'Roach',
 'Roach',
 'Roach',
 'Smelt',
 'Smelt',
 'Smelt',
 'Smelt',
 'Smelt',
 'Smelt',
 'Smelt',
 'Smelt',
 'Smelt',
 'Smelt',
 'Smelt',
 'Smelt',
 'Smelt',
 'Smelt',
 'Pike',
 'Pike',
 'Pike',
 'Pike',
 'Pike',
 'Pike',
 'Pike',
 'Pike',
 'Pike',
 'Pike',
 'Pike',
 'Pike',
 'Pike',
 'Pike',
 'Pike',
 'Pike',
 'Pike']

## Scaling

In [164]:
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.cluster import KMeans

In [165]:
scaler = StandardScaler()
kmeans = KMeans(n_clusters = 4)
pipeline = make_pipeline(scaler, kmeans)

## Clustering

In [168]:
pipeline.fit(samples)
labels = pipeline.predict(samples)
df = pd.DataFrame({'labels' : labels, 'species' : species})
ct = pd.crosstab(df['labels'], df['species'])
ct

species  Bream  Pike  Roach  Smelt
labels
0            0    17      0      0
1           33     0      1      0
2            1     0     19      1
3            0     0      0     13